extends layout

block content
  style.
    body {
      max-width: 960px;
      margin: 0 auto;
    }
    .flex-wrapper {
      display: flex;
    }
    .flex-wrapper > * {
      flex: 1;
    }
    body {
      max-width: 960px;
    }
    img {
      display: block;
      max-width: 100%;
    }

  .flex-wrapper
    div
      img(src="/1280x300")
  .flex-wrapper
    div
      img(src="/640x300")
      img(src="/640x300")
  .flex-wrapper
    div
      img(src="/430x300")
      img(src="/430x300")
      img(src="/430x300")
